body {
    background-color: black;
    color: aliceblue;
}

.Title-Image {
    width: 4rem;

}

.Title {
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0.1rem;
    border-radius: 0.2rem;
    border-color:darkslateblue;
    border-width: 0.5rem;
}

.SearchForm {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin:0.1rem;
  border-radius: 0.2rem;
  border-color: darkblue;
  border-width: 0.5rem;
  padding: .1rem;
}

.SearchForm > label {
    color:black ;
    font-size: 1.3rem;
    padding: 1.7rem 0.1rem 0.1rem 0.1rem;
    justify-content:right;
}

.SearchInput {
    font-size: x-large;
    padding: 0.1rem
}

.SearchButton {
    font-size: x-large;
    margin: 1.5rem 3rem
}

.BookList > h3 {
    color:aquamarine;
    padding-left: 5rem;
}

.BookList > ul > li {
    font-size: 1.2rem;
    color:cyan;  
    padding: .5rem 0.5rem 0.5rem 0
}

.Footer {
    color:rgb(185, 139, 229);
    background-color: midnightblue;
    max-height: 1.7rem;
    padding: 1rem;
    /*
    position: absolute;
    left: 0;
    bottom: 0;
    */
}